@import "base";

.media-photo.yacht-hero {
	.title {
		vertical-align: bottom;
		padding-bottom: 70px;
		padding-left: 10px;
	}
	h1 {
		margin-bottom: 0;
	}
	p {
		margin: 0;
		max-width: inherit;
	}
}

.yacht-inner {
	margin-bottom: 1.4rem;
	img {

	}
}

.layout-plans {
	text-align: center;
}

.layout-info {
	p {
		margin-bottom: 0;
	}
}

.quick-view {
	.heading {
		font-size: $text-tiny;
		font-weight: $font-weight-medium;
		text-transform: uppercase;
	}
	.quick-view-item {
		margin-top: 1rem;
		i {
			margin-bottom: 6px;
			font-size: 1.9rem;
			color: $monsoon;
		}
	}
	.quick-view-summary {
		margin-top: 1rem;
		p:last-child {
			margin: 0;
		}
	}
}

.summary-message {
	margin-top: 1rem;
}

.cruising-grounds {
	padding: 2rem 0;
	h2 {
		margin: 0 0 2rem;
	}
}

.disclaimer {
	p {
		font-size: 0.75rem;
	}
}

/* Specifications */

.content-specs {
	li {
		padding: 0 0.625rem 0.625rem
	}
}