@import "appbase";

/* Widgets ------------------------------ */

.widget {
	margin-bottom: 1.5rem;
	border: 1px solid $gainsboro;
	.widget-inner {
		padding: 1.25rem;
	}
	h4 {
		font-weight: $font-weight-medium;
		font-size: 1.125rem;
		color: $jet;
		i {
			margin-right: 4px;
			color: $teal;
		}
	}
	.form-sub-title {
		padding-bottom: .7rem;
		display: block;
		font-size: $text-tiny;
		color: $monsoon;
		line-height: 1.4;
	}
	.button {
		width: 100%;
		margin-bottom: 0;
	}
}

.widget-inner-leader {
	background-color: $vapor;
}
.widget-request-brochure {
	background-color: $aqua;
	h4 {
		font-family: $font-style-fancy;
		color: $navy-blue;
		i {
			font-size: 20px;
			color: $navy-blue;
		}
	}
	p {
		margin-bottom: 0;
		font-size: $text-tiny;
	}
}

/* Sidebar Broker */

.widget-broker-contact {
	padding-bottom: 0;
	.broker-image {
		img {
			max-width: 60px;
			border-radius: 50%;
		}
	}
}
.sidebar-contact {
	margin-top: 1.25rem;
}

.newsletter-message-panel {
	padding: .7rem;
	padding-left: 2.1rem;
	margin-bottom: 0.9rem;
	background-color: $smoke;
	border: 1px solid $gainsboro;
	display: inline-block;
	box-sizing: border-box;
	span {
		font-size: $text-tiny;
		line-height: 1.4;
		float: left;
		width: 100%;
	}
	input {
		margin: 4px 0 0 -20px;
		float: left;
	}
}

.broker-title {
	h4 {
		span {
			display: block;
			font-weight: $font-weight-normal;
		}
	}
}
.broker-message {
	padding-top: .5rem;
	.button {
		margin-top: .8rem;
	}
}

.widget-season-dates {
	margin: 2.6rem 0;
	.date-range-title {
		display: block;
		font-size: $text-tiny;
		font-weight: $font-weight-medium;
		color: $monsoon;
		text-transform: uppercase;
	}
	p {
		margin: 0;
		padding-left: 2.4rem;
		i {
			float: left;
			margin-top: 5px;
			margin-left: -38px;
			font-size: 26px;
			color: $monsoon;
		}
	}
}

.related-yachts {
	h4 {
		font-weight: $font-weight-medium;
		font-size: 1.125rem;
		color: $jet;
	}
	h3 {
		margin-top: .7rem;
		margin-bottom: 0;
	}
	p {
		font-size: $text-small;
	}
}