@import "appbase";

/* Landing Page Hero ------------------------------ */

.hero {
	position: relative;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	margin-bottom: 1.6rem;
}
.hero-content-wrapper {
	margin: auto;
	width: 90%;
	height: 100%;
	max-width: 700px;
	display: table;
	position: relative;
	z-index: 3;
}
.hero-content {
	margin: 0;
	text-align: center;
	color: #FFF;
	display: table-cell;
	vertical-align: middle;
	h1 {
		font-size: 2.6rem;
		color: #FFF;
		line-height: 1;
	}
	p {
		font-size: 1.1rem;
	}
}

.gallery-hero {
	margin-bottom: 1rem;
}

@media only screen and (min-width: 44em) {
	.hero {
		height: 500px;
	}
	.hero-content-wrapper {
		width: 45%;
	}
	.hero-content {
		h1 {
			font-size: 3.6rem;
		}
	}
}