.bold {
	font-weight: $font-weight-bold;
}

.small {
	font-size: $text-small;
}
.x-small {
	font-size: $text-tiny;
}

/* alignment */

.left {
	float: left !important;
}
.right {
	float: right !important;
}

/* images */

.img-responsive {
	width: 100%;
	height: auto;
}

.img-responsive-height {
	width: auto;
	height: 100%;
}
.img-circle {
	border-radius: $br-round;
}

/* hr */

hr {
	margin-top: $spacer-x;
	margin-bottom: $spacer-x;
	border: 0;
	border-top: 1px solid $border-line;
}

/* spacing */

.tile {
	margin-bottom: $spacer-x;
}

.row-space-bottom-1,
.row .row-space-bottom-1 {
	margin-bottom: $spacer-x;
}

.row-space-top-2,
.row .row-space-top-2 {
	margin-top: $spacer-x * 2;
}
.row-space-bottom-2,
.row .row-space-bottom-2 {
	margin-bottom: $spacer-x * 2;
}

.row-space-top-3,
.row .row-space-top-3 {
	margin-top: $spacer-x * 3;
}
.row-space-bottom-3,
.row .row-space-bottom-3 {
	margin-bottom: $spacer-x * 3;
}

.row-space-top-4,
.row .row-space-top-4 {
	margin-top: $spacer-x * 4;
}
.row-space-bottom-4,
.row .row-space-bottom-4 {
	margin-bottom: $spacer-x * 4;
}

.m-t-1 {
  margin-top: $spacer-x;
}
.m-t-2 {
  margin-top: $spacer-x * 2;
}

.m-b-1 {
  margin-bottom: $spacer-x;
}
.m-b-2 {
  margin-bottom: $spacer-x * 2;
}

/* grid */

[class*=block-grid-] > li {
  padding: 0 .625rem .625rem;
}

/* style placeholder text */

::-webkit-input-placeholder {
	color: lighten($base-color, 16%);
}
:-moz-placeholder { /* Firefox 18- */
	color: lighten($base-color, 16%);
}
::-moz-placeholder {  /* Firefox 19+ */
	color: lighten($base-color, 16%);
}
:-ms-input-placeholder {
	color: lighten($base-color, 16%);
}

.icon-size-4 {
	font-size: 4.5rem;
}
.grey {
	color: lighten($base-color, 12%);
}
