/* Compass ------------------------------ */

@import "compass/css3";
@import "compass/utilities";
@import "base";

/* Homepage ------------------------------ */

.hero-wrapper {
	position: relative;
	height: 550px;
	margin-bottom: 2rem;
	clear: both;
}

.hero-bg {
	z-index: -1;
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
}
.hero-bg-wrap {
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.hero-bg img {
	position: absolute;
	bottom: 0;
}

.hero-banner-content {
	display: table;
	width: 100%;
	height: 100%;
	.va-middle {
		padding-bottom: 120px;
	}
}

.intro {
	padding: 0 8%;
	.banner-title {
		font-size: 2rem;
		color: #FFF;
		text-transform: uppercase;
	}
	.sub-line {
		font-size: 1.1rem;
		font-weight: $font-weight-normal;
		color: #FFF;
	}
}

.banner-search {
	background: #000;
	background: rgba(0,0,0,0.6);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	.input-list, .button, .input-search {
		margin: 0;
	}
}

/* Section styles */

.section-header {
	margin-bottom: .6rem;
	font-size: 1.5rem;
	line-height: 1.2;
	text-align: center;
}
.sub-head {
	text-align: center;
	line-height: 1.8;
	margin-bottom: 2rem;
}

/* Yacht Types */

.grid-yacht-type {
	margin-bottom: 2rem;
	h3 {
		margin-top: 1.3rem;
		font-size: 1rem;
		text-transform: uppercase;
	}
}

/* Overview */

.section-overview-sub {
	margin-bottom: 4rem;
}

/* Destinations */

.panel-group {
	float: left;
	width: 100%;
	overflow: hidden;
}
.panel-wrap {
	padding-bottom: 40%;
	height: 0;
	position: relative;
	overflow: hidden;
}
.panel-img {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	max-width: inherit;
}
.panel-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #FFF;
	background: image-url("header-fade.png");
	background-repeat: repeat-x;
	background-position: 0 100%;
}
.panel-info {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;

	h3 {
		margin: 0;
		font-family: $font-style-fancy;
		font-size: 1.25rem;
		color: #FFF;
		line-height: 1.3;
	}
}
.panel-info .destination-name {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: $text-small;
	font-weight: $font-weight-normal;
	color: #fff;
}
.destination-sub {
	margin-top: 1.6rem;
	width: 100%;
	clear: both;
	display: inline-block;
}

/* News Feed */

.section-news {
	margin-top: 2.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.article-fluid {
	margin-bottom: 1.2rem;
	display: inline-block;
	width: 100%;
	background-color: #FFF;
	border: 1px solid $gainsboro;
	@include box-sizing(border-box);
}
.article-snippet {
	/*padding: 0 0 0 280px;*/
	.post-image {
		margin: 0;
		padding: 0;
	}
	a {
		display: block;
	}

}
.post-content {
	padding: 1rem 1rem .5rem;
	h3 {
		margin-top: .6rem;
		margin-bottom: 0;
		font-size: 1.3rem;
		&:hover {
			color: $teal;
		}
		
	}
	.post-date {
		font-size: $text-tiny;
		color: $monsoon;
		text-transform: uppercase;
	}
	p {
		color: $tuatara;
	}
}