

@media (min-width: 480px) {
	.results-filter .sub-nav {
		float: left;
	}
	.results-total {
		float: right;
		text-align: right;
		clear: none;
	}
}

@media only screen and (min-width: 36em) {
	.article-fluid {
		padding: 1rem;
	}
	.article-snippet {
		padding: 0 0 0 280px;
		.post-image {
			margin: 0;
			padding: 0;
			width: 240px;
			margin-left: -270px;
			float: left;
			overflow: hidden;
			position: relative;
		}
		.post-content {
			padding: 0;
		}
	}
	.feedback-item {
		padding: 0 2em 3em 0;
	}
	.feedback-item .feedback-source {
		margin-top: 30px;
	}

}

@media only screen and (min-width: 40.0625em) {

	.header {
		height: 80px;
	}

	.logo-wrap {
		margin-top: 10px;
		padding-top: 5px;
		float: left;
		img {
			height: 60px;
		}
	}

	.main-nav {
		li {
			margin-left: 25px;
		}
	}

	.off-canvas-nav-icon {
		width: 70px;
		height: 80px;
		line-height: 92px;
		.icon-menu {
			font-size: 30px;
		}
	}

	/* homepage */

	.home-hero {
		.title {
			padding-bottom: 70px;
		}
		h2 {
			display: block;
		}
	}

	.post-date {
		display: inline;
	}

	.sub-head {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.page-container {
		max-width: 1045px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 25px;
		padding-right: 25px;
	}

	.content-header-inner {
		padding-top: 0;
		padding-bottom: 0;
		height: 400px;
	}
	.header-block {
		position: absolute; left: 0; right: 0; bottom: 75px;
		padding: 0;
	}

	.quote-wrapper {
		margin-top: 2px;
		&:after, &:before {
			right: 100%;
			top: 60px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-right-color: #ffffff;
			border-width: 15px;
			margin-top: -15px;
		}
		&:before {
			border-color: rgba(221, 221, 221, 0);
			border-right-color: #dddddd;
			border-width: 16px;
			margin-top: -16px;
		}
		blockquote {
			padding: 2rem;
		}
		&.quote-wrapper-offset-left:before,
		&.quote-wrapper-offset-left:after {
			border: 0;
		}
	}



	.broker-title {
		clear: both;
	}

	hr {
		margin-top: $spacer-x * 2;
		margin-bottom: $spacer-x * 2;
	}

}

@media only screen and (min-width: 44em) {

	.title {
		h1, .h1 {
			font-size: 2.2rem;
		}
	}

	.banner-search {
		.input-list, .button, .input-search {
			margin: 0;
		}
	}

	.section-header {
	  font-size: 1.8rem;
	}

	.regions li a {
		font-size: 1.5rem;
	}

}

@media only screen and (min-width: 48em) {

	/*.media-photo {
		height: 40vh;
	}*/

	.mobile-only {
		display: none;
	}

}

@media only screen and (min-width: 60em) {

	.content-offest-3 {
		padding-right: 3rem;
	}

	.panel-info h3 {
		font-size: 1.5rem;
	}

	.broker-title {
		clear: none;
	}

}

@media only screen and (min-width: 62.5em) {

	.main-nav {
		display: block;
	}
	.menu-trigger,
	.mobile-search-button,
	.off-canvas-nav-icon {
		display: none;
	}

}

@media only screen and (min-width: 64em) {

	.price-range .price {
		margin: 0;
	}

}


// 980px
@media only screen and (min-width: 61.250em) {

	.media-photo  {
		height: 65vh;
		.media-cover {
			position: absolute;
		}
		.title {
			h1, .h1 {
				font-size: 2.6rem;
			}
		}
		.title {
			h1, p {
				color: $contrast;
			}
		}
	}

	.media-photo.yacht-hero  {
		.title {
			h1, p {
				padding: 0;
				margin: 0;
			}
		}
	}

	.yacht-tile {
		height: 200px !important;
		.media-cover {
			background: {
				image: image-url("oceanscape-tile.jpg");
				repeat: repeat-x;
			};
		}
	}

	.yacht-hero {
		img {
			display: none;
		}
		.media-cover {
			&:after {
				@include opacity(1);
				background: {
					color: transparent;
					image: image-url("header-fade.png");
					repeat: repeat-x;
					position: bottom right;
				};
			}
		}

		.title {
			padding-bottom: 70px;
			vertical-align: bottom;
			text-align: left;
		}

	}

}

@media (max-width: 39.9em) {

	.quote-wrapper {
		&:after, &:before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 16px;
			margin-left: -16px;
		}
		&:before {
			border-color: rgba(221, 221, 221, 0);
			border-bottom-color: #dddddd;
			border-width: 17px;
			margin-left: -17px;
		}
	}

}

@media only screen and (max-width: 40.0624em) {

	.menu-trigger {
		top: 13px;
	}
	.menu-trigger .icon-menu {
		font-size: 32px;
	}
	.primary-nav {
		margin-left: 0;
		margin-top: 10px;
		float: left;
	}

	.intro .sub-line {
		display: none;
	}
	.banner-search .input-list {
		margin-bottom: 1rem;
	}
	.panel-img {
		width: 100%;
		height: auto;
	}

	.page-footer-nav {
		.button {
			width: 100%;
		}
	}

}

@media only screen and (max-width: 47em) {

	.mobile-search-button {
		display: none;
	}

}

@media only screen and (max-width: 1067px) {

	.hero-bg img {
		position: absolute; bottom: 0;
		width: auto;
		height: 100%;
		max-width: inherit;
	}

}

@media only screen and (min-width: 1067px) and (min-width: 1199px) {

	.hero-bg img {
		position: absolute; bottom: 0;
		width: 100%;
	}

}

@media screen and (min-width: 1200px) {

	.main-nav {
		li {
			&.main-nav-link-showlarge {
				display: inline-block;
			}
		}
	}

}
