@import "base";

/* Widgets ------------------------------ */

.widget {
	margin-bottom: 1.5rem;
	border: 1px solid $gainsboro;
	.widget-inner {
		padding: 1.25rem;
	}
	h4 {
		margin-top: 0;
		i {
			margin-right: 4px;
			color: $teal;
		}
	}
	.form-sub-title {
		padding-bottom: .7rem;
		display: block;
		font-size: $text-tiny;
		color: $monsoon;
		line-height: 1.4;
	}
	.button {
		width: 100%;
		margin-bottom: 0;
	}
}

.widget-inner-leader {
	background-color: $vapor;
}
.widget-request-brochure {
	background-color: scale-lightness($charcoal, 90);
	h4 {
		i {
			font-size: 20px;
			color: $navy-blue;
		}
	}
	p {
		margin-bottom: 0;
	}
}

/* Sidebar Broker */

.widget-broker-contact {
	padding-bottom: 0;
	.broker-image {
		img {
			max-width: 60px;
			border-radius: 50%;
		}
	}
}
.sidebar-contact {
	margin-top: 1.25rem;
}

.newsletter-message-panel {
	padding-left: 25px;
	padding-bottom: 20px;
	display: inline-block;
	span {
		font-size: $text-tiny;
		line-height: 1.4;
	}
	label {
		float: right;
		width: 100%;
	}
	input {
		margin-top: 10px;
		margin-left: -24px;
		width: auto;
		float: left;
	}
}

.broker-title {
	h4 {
		span {
			display: block;
			font-weight: $font-weight-normal;
		}
	}
}
.broker-message {
	padding-top: .5rem;
	.button {
		margin-top: .8rem;
	}
}

.widget-season-dates {
	margin: 2.6rem 0;
	p {
		margin: 0;
		padding-left: 2.4rem;
		i {
			float: left;
			margin-top: 5px;
			margin-left: -38px;
			font-size: 26px;
			color: $monsoon;
		}
	}
}

.price-range {
	p {
		margin: 0;
	}
	.price {
		font-size: 1.2rem;
		line-height: 1.2;
		em {
			font-size: .7rem;
			display: block;
		}
	}
}

.range-title {
	display: block;
	font-size: $text-tiny;
	font-weight: $font-weight-medium;
	color: $tuatara;
}

.yacht-list {
	img {
		display: block;
		margin-bottom: .7rem;
	}
	span {
		display: block;
	}
}

/* Sidebar Styles */

.sidenav-text {
	a {
		display: block;
		padding: 6px 0;
		font-size: 16px;
		color: $monsoon;
		&:hover {
			color: $slate;
		}
	}
}