/* Fonts
   ========================================================================== */
@font-face {
  font-family: 'font_lcg';
  src: url("/fonts/font_lcg.eot?q6cg59");
  src: url("/fonts/font_lcg.eot?q6cg59#iefix") format("embedded-opentype"), url("/fonts/font_lcg.ttf?q6cg59") format("truetype"), url("/fonts/font_lcg.woff?q6cg59") format("woff"), url("/fonts/font_lcg.svg?q6cg59#font_lcg") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font_lcg' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-document:before {
  content: "\e911"; }

.icon-calendar:before {
  content: "\e912"; }

.icon-pdf:before {
  content: "\e913"; }

.icon-clock:before {
  content: "\e910"; }

.icon-caret-right:before {
  content: "\e90e"; }

.icon-caret-left:before {
  content: "\e90f"; }

.icon-angle-double-right:before {
  content: "\e90c"; }

.icon-angle-double-left:before {
  content: "\e90d"; }

.icon-mail:before {
  content: "\e900"; }

.icon-caret-up:before {
  content: "\e901"; }

.icon-caret-down:before {
  content: "\e902"; }

.icon-googleplus:before {
  content: "\e903"; }

.icon-twitter:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e905"; }

.icon-search:before {
  content: "\e906"; }

.icon-menu:before {
  content: "\e907"; }

.icon-cabins:before {
  content: "\e908"; }

.icon-crew:before {
  content: "\e909"; }

.icon-bed:before {
  content: "\e90a"; }

.icon-ship:before {
  content: "\e90b"; }

/* Fonts
   ========================================================================== */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #555555; }

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em;
  color: #555555;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700; }

h1 {
  margin-top: 0;
  font-size: 2rem; }

h2 {
  color: #5a5a5a;
  font-size: 1.5rem; }

h3 {
  font-size: 1.2rem; }

h4 {
  color: #747474;
  font-size: 1rem; }

h5 {
  font-size: 0.9rem; }

p {
  margin-bottom: 1rem;
  text-rendering: inherit;
  line-height: 1.5; }

ul, ol, dl {
  margin-bottom: 1rem; }

a, .results-footer a:hover {
  color: #6fa2cd; }
  a:hover, .results-footer a:hover {
    color: #498ac0; }

blockquote {
  padding: 0 2rem;
  margin: 0;
  border-left: 4px solid #dce0e0;
  font-size: 1.1rem;
  text-align: left; }

.bold {
  font-weight: 700; }

.small {
  font-size: 0.9rem; }

.x-small {
  font-size: 0.8rem; }

/* alignment */
.left {
  float: left !important; }

.right {
  float: right !important; }

/* images */
.img-responsive {
  width: 100%;
  height: auto; }

.img-responsive-height {
  width: auto;
  height: 100%; }

.img-circle {
  border-radius: 50%; }

/* hr */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #dce0e0; }

/* spacing */
.tile {
  margin-bottom: 1rem; }

.row-space-bottom-1,
.row .row-space-bottom-1 {
  margin-bottom: 1rem; }

.row-space-top-2,
.row .row-space-top-2 {
  margin-top: 2rem; }

.row-space-bottom-2,
.row .row-space-bottom-2 {
  margin-bottom: 2rem; }

.row-space-top-3,
.row .row-space-top-3 {
  margin-top: 3rem; }

.row-space-bottom-3,
.row .row-space-bottom-3 {
  margin-bottom: 3rem; }

.row-space-top-4,
.row .row-space-top-4 {
  margin-top: 4rem; }

.row-space-bottom-4,
.row .row-space-bottom-4 {
  margin-bottom: 4rem; }

.m-t-1 {
  margin-top: 1rem; }

.m-t-2 {
  margin-top: 2rem; }

.m-b-1 {
  margin-bottom: 1rem; }

.m-b-2 {
  margin-bottom: 2rem; }

/* grid */
[class*=block-grid-] > li {
  padding: 0 .625rem .625rem; }

/* style placeholder text */
::-webkit-input-placeholder {
  color: #7e7e7e; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #7e7e7e; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7e7e7e; }

:-ms-input-placeholder {
  color: #7e7e7e; }

.icon-size-4 {
  font-size: 4.5rem; }

.grey {
  color: #747474; }

/* Accessibility
   ========================================================================== */
#skip a {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden; }

#skip a:focus {
  position: static;
  width: auto;
  height: auto; }

.screen-reader-only {
  padding: 0;
  margin: -1px;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Header
   ========================================================================== */
.header {
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #dce0e0;
  z-index: 50; }

/* logo */
.logo-wrap {
  position: relative; }
  .logo-wrap img {
    position: relative;
    height: 40px;
    z-index: 50; }

.logo-wrap::before,
.logo-wrap::after {
  content: "";
  position: absolute;
  top: -10px;
  height: 65px;
  z-index: 50; }

.logo-wrap::before {
  background-color: #1A1C33;
  width: 100%;
  top: -10px;
  bottom: 0;
  right: -5px;
  width: 9000px; }

.logo-wrap::after {
  display: block;
  position: absolute;
  right: -50px;
  width: 45px;
  background-color: #1A1C33;
  -webkit-transform: skewY(-250deg);
  transform: skewY(-250deg);
  -webkit-transform-origin: 0;
  transform-origin: 0; }

@media screen and (min-width: 40.0625em) {
  .logo-wrap::before {
    right: -10px; }

  .logo-wrap::after {
    right: -55px; }

  .logo-wrap::before,
  .logo-wrap::after {
    height: 90px; } }
/* main nav */
.main-nav {
  display: none;
  margin: 18px 0;
  overflow: visible; }
  .main-nav li {
    float: none;
    display: inline-block;
    font-size: 0.9rem;
    /* hide links */ }
    .main-nav li > a, .main-nav .results-footer li > a:hover, .results-footer .main-nav li > a:hover {
      font-weight: 500;
      color: #6f6f6f; }
      .main-nav li > a:hover, .main-nav .results-footer li > a:hover {
        color: #555555; }
    .main-nav li.main-nav-link-showlarge {
      display: none; }
  .main-nav .button {
    padding: .6rem 2rem .7rem; }

/* dropdown menus */
.main-nav-link .dropdown {
  border-color: #dce0e0;
  border-radius: 2px; }
  .main-nav-link .dropdown li {
    margin: 0;
    width: 100%; }
    .main-nav-link .dropdown li:hover {
      background-color: transparent; }
    .main-nav-link .dropdown li a {
      padding: 0.7rem 1rem;
      font-weight: 500; }

/* header cta button */
.header-button {
  margin: 0;
  padding: .4rem 1rem;
  font-size: 0.9rem;
  color: #ffffff !important; }

/* icon menu */
.off-canvas-nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
  /*border-left: 1px solid $border-line;*/
  cursor: pointer; }
  .off-canvas-nav-icon .icon-menu {
    color: #1A1C33;
    font-size: 24px; }

.mobile-nav {
  margin: 0; }

/* language options */
.main-nav-link-language {
  margin-left: 10px !important; }
  .main-nav-link-language a, .main-nav-link-language .results-footer a:hover, .results-footer .main-nav-link-language a:hover {
    margin: 5px 0 0 10px;
    display: block;
    position: relative;
    float: left;
    width: 16px;
    height: 10px;
    text-indent: -9999em;
    background: url('/images/icon-flag.png');
    background-repeat: no-repeat; }
    .main-nav-link-language a:hover::after, .main-nav-link-language a.current::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 16px;
      height: 2px;
      background: #d5d5d5; }
  .main-nav-link-language .nav-lang-eng {
    background-position: 0 0; }
  .main-nav-link-language .nav-lang-fr {
    background-position: -16px 0; }

/* Content
   ========================================================================== */
.row {
  max-width: 76rem; }

#content {
  clear: both; }

.content-body {
  display: inline-block;
  width: 100%; }

/* align content vertically */
.row-table {
  display: table;
  width: 100%;
  height: 100%; }

.col-middle {
  display: table-cell;
  vertical-align: middle;
  float: none;
  padding: 0 4% !important; }

/* section rows */
.section-row {
  padding: 2rem 0; }

.section:after {
  content: " ";
  display: table;
  clear: both; }

.section-header {
  margin-top: 0;
  text-align: center; }

.text-lead {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 1.1rem;
  color: #747474; }

.cta-block {
  display: inline-block;
  width: 100%;
  margin-top: 1rem !important;
  clear: both; }
  .cta-block::after {
    content: " ";
    display: table;
    clear: both; }

/* content main */
.content-main h2:first-of-type {
  margin-top: 0; }
.content-main a:hover {
  text-decoration: underline; }
.content-main ul li, .content-main ol li, .content-main dl li {
  margin-bottom: 0.8rem; }

/* Hero image
   ========================================================================== */
.media-photo {
  width: 100%;
  height: 30vh;
  position: relative;
  margin-bottom: 3rem;
  z-index: 10; }
  .media-photo img {
    width: 100%;
    height: auto; }

.media-cover,
.media-cover:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.media-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  /* display semi transparent overlay */ }
  .media-cover:after {
    content: "";
    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1; }

.title h1, .title .h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #ffffff; }
.title h2 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff; }
.title .text-lead, .title p {
  padding-left: 8%;
  padding-right: 8%;
  color: #ffffff; }

/* custom headers */
.media-photo-blog,
.media-photo-page {
  height: 30vh; }

.destination-hero,
.section-hero-search {
  margin-bottom: 0; }

/* Profile card
   ========================================================================== */
.profile-card {
  padding: 1rem;
  background-color: #f3f3f3;
  border: 1px solid #dce0e0;
  border-radius: 2px; }
  .profile-card img {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    border-radius: 50%; }
  .profile-card .profile-info {
    padding: 0 0 1rem; }
    .profile-card .profile-info h4 {
      margin-top: 0;
      font-weight: 500;
      color: #555555; }
    .profile-card .profile-info .small {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 400; }

/* Blog
   ========================================================================== */
.post-info {
  padding: 0 0 1.5rem; }

.post-date {
  display: block;
  position: relative;
  padding: 0 1rem;
  font-size: 0.8rem;
  color: #888888;
  text-transform: uppercase; }
  .post-date::before {
    font-family: font_lcg;
    content: "\e910";
    position: absolute;
    top: -1px;
    left: 0; }

.post-category {
  font-size: 0.8rem;
  text-transform: uppercase; }

.article-fluid {
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .article-fluid:hover a {
    color: #6fa2cd; }

.article-snippet .post-image {
  margin: 0;
  padding: 0; }

.post-content {
  padding: 1rem; }
  .post-content h3 {
    margin-top: 0.6rem; }
    .post-content h3:hover {
      color: #6fa2cd; }
  .post-content p {
    color: #555555; }
    .post-content p:last-of-type {
      margin-bottom: 0; }

.section-hero-search {
  margin-bottom: 0; }

.media-photo-block {
  margin: 0; }

.clearing-base-colorout .title {
  display: none; }

.row-full-height {
  height: 100%; }

/* Destinations
   ========================================================================== */
/* hero regions */
.regions li a, .regions li .results-footer a:hover, .results-footer .regions li a:hover {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff; }
  .regions li a:hover {
    color: rgba(255, 255, 255, 0.8); }

.row-space .region-card {
  margin-bottom: 25px; }

.region-tile {
  position: relative; }

.region-card {
  height: 200px;
  position: relative; }
  .region-card .card-container {
    display: table;
    width: 100%;
    height: 100%; }
  .region-card h2 {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0 2%; }

.region-img, .region-img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.region-img {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover; }

.region-img:after {
  content: "";
  background-color: #555555;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

.sub-section {
  background-color: #555555;
  padding: 2rem 0; }

/* Yacht detail
   ========================================================================== */
/* switch to static banner for mobile */
.media-cover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: none; }
.media-cover .title {
  vertical-align: bottom; }
.media-cover h1 {
  margin-bottom: 0;
  padding: 0;
  color: #555555; }
.media-cover p {
  margin: 0;
  padding: 0;
  color: #555555;
  max-width: inherit; }

/* content */
.summary p {
  font-size: 1.3em;
  margin-bottom: 2em; }

.segment-overview img {
  margin-bottom: 1.4rem;
  display: block; }

.feature-block-wrapper {
  margin-top: 2rem; }

.feature-block {
  padding-bottom: 2rem;
  margin: 2rem 0;
  border-bottom: 1px solid #dce0e0; }
  .feature-block img {
    margin-bottom: 1rem; }
  .feature-block h3, .feature-block a, .feature-block .results-footer a:hover, .results-footer .feature-block a:hover {
    margin-top: 0;
    color: #5a5a5a; }
  .feature-block p:last-of-type {
    margin: 0; }

.block-feature {
  margin-bottom: 1.2em; }
  .block-feature .img {
    float: left;
    width: 160px;
    margin-right: 1em;
    position: relative; }
  .block-feature .bd {
    overflow: hidden; }
  .block-feature .block-feature-title {
    font-size: 1em;
    font-weight: 700; }
  .block-feature p {
    margin: 0; }

/* Map location */
.location-details {
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid #dce0e0; }
  .location-details .map {
    width: 100%;
    height: 400px;
    border: 1px solid #dce0e0;
    margin-bottom: 1rem; }
    .location-details .map img {
      border: 0; }
  .location-details p {
    margin-bottom: 0;
    line-height: 1.6; }
  .location-details .map-sidebar ul {
    font-size: 0.8rem;
    line-height: 1.7; }
  .location-details .map-sidebar i {
    color: #555555; }

.page-footer-nav {
  padding: 2rem 0 0; }

/* Blog ------------------------------ */
.content-article img {
  display: block;
  margin: 1.8rem 0; }

.page-container:before, .page-container-responsive:before,
.page-container:after, .page-container-responsive:after {
  content: " ";
  display: table; }

.card {
  background-color: #ffffff;
  border: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }
  .card img {
    margin-bottom: 1rem;
    display: block; }

.center-block-25 {
  margin: 0 auto;
  width: 60px; }

.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.circle-text div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -1em;
  text-align: center;
  color: white; }

.circle-text .fa {
  font-size: 1.7rem; }

/* Search
   ========================================================================== */
.filters {
  padding-top: 1rem;
  margin-bottom: 2rem;
  background-color: #f3f3f3; }

.results-filter {
  font-size: 0.9rem;
  color: #747474;
  margin-bottom: 2rem; }
  .results-filter .sub-nav {
    overflow: visible;
    margin: 0;
    padding: 0; }
    .results-filter .sub-nav dt {
      font-weight: 500;
      color: #747474;
      text-transform: none;
      margin: 0; }
    .results-filter .sub-nav dt, .results-filter .sub-nav dd, .results-filter .sub-nav li {
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-weight: 500; }
    .results-filter .sub-nav dt a, .results-filter .sub-nav dd a, .results-filter .sub-nav li a {
      color: #6fa2cd;
      padding: 0 0.4rem; }
    .results-filter .sub-nav dt.active a, .results-filter .sub-nav dd.active a, .results-filter .sub-nav li.active a {
      font-weight: inherit;
      background-color: transparent;
      border: none;
      cursor: pointer; }
    .results-filter .sub-nav dd.active a {
      color: #555555 !important; }
  .results-filter .sortasc a::after,
  .results-filter .sortdesc a::after {
    margin-left: 6px;
    font-family: font_lcg; }
  .results-filter .sortasc a::after {
    content: "\e902";
    /* arrow down */ }
  .results-filter .sortdesc a::after {
    content: "\e901";
    /* arrow up */ }

.results-total {
  clear: both; }

.results-footer {
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid #dce0e0; }
  .results-footer a, .results-footer a:hover {
    color: #6fa2cd; }

/* Result item */
.card-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 67%; }

.card-media-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .card-media-cover img {
    width: 100%;
    height: auto; }

.card-section {
  padding: 10px 0; }
  .card-section h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0; }
  .card-section a, .card-section .results-footer a:hover, .results-footer .card-section a:hover {
    color: #555555; }

.guests {
  color: #747474; }
  .guests::before {
    font-family: font_lcg;
    content: "\e90a"; }

.card-listing-info span {
  display: block;
  color: #747474;
  font-size: 0.8rem; }

/* Sidebar
   ========================================================================== */
.sidebar-nav {
  margin: 0;
  line-height: 1.4; }
  .sidebar-nav li {
    margin-bottom: 0.6rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #dce0e0; }
    .sidebar-nav li:last-of-type {
      margin-bottom: 0;
      padding: 0;
      border: none; }

.widget {
  margin-bottom: 1.5rem;
  border: 1px solid #dce0e0;
  border-radius: 2px; }
  .widget .widget-inner {
    padding: 1.25rem; }
  .widget h3 {
    margin-bottom: 1rem;
    color: #747474;
    font-size: 1rem; }
  .widget h3:first-of-type {
    margin-top: 0; }
  .widget h4 {
    margin-top: 0;
    margin-bottom: 1rem; }
    .widget h4 i {
      margin-right: 4px;
      color: #6fa2cd; }
  .widget .form-sub-title {
    padding-bottom: .7rem;
    display: block;
    font-size: 0.8rem;
    color: #555555;
    line-height: 1.4; }
  .widget .button {
    width: 100%;
    margin-bottom: 0; }

.widget-inner-leader {
  background-color: #f3f3f3; }

.widget-request-brochure {
  background-color: #eeeeee; }
  .widget-request-brochure h4 i {
    font-size: 20px;
    color: #1A1C33; }
  .widget-request-brochure p {
    margin-bottom: 0; }

/* Sidebar broker */
.widget-broker-contact {
  padding-bottom: 0; }

.broker-title {
  overflow: hidden; }
  .broker-title h4 {
    margin-top: 0;
    margin-bottom: 0.4rem; }
    .broker-title h4 span {
      display: block;
      font-weight: 400; }

.broker-image {
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  float: left; }
  .broker-image img {
    max-width: 120px;
    border-radius: 50%; }

.broker-message {
  line-height: 1.4;
  font-size: 0.8rem; }

/* rates */
.range-title {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  color: #555555; }

.price-range .price {
  font-size: 1.2rem;
  line-height: 1.2; }
  .price-range .price em {
    font-size: .7rem; }

/* newsletter */
.newsletter-message-panel {
  padding-left: 25px;
  padding-bottom: 20px;
  display: inline-block; }
  .newsletter-message-panel span {
    font-size: 0.8rem;
    line-height: 1.4; }
  .newsletter-message-panel label {
    float: right;
    width: 100%; }
  .newsletter-message-panel input {
    margin-top: 5px;
    margin-left: -24px;
    width: auto;
    float: left; }

/* related yachts */
.yacht-list img {
  display: block;
  margin-bottom: .7rem; }
.yacht-list span {
  display: block; }

.widget-season-dates {
  margin: 2.6rem 0; }
  .widget-season-dates p {
    margin: 0;
    padding-left: 2.4rem; }
    .widget-season-dates p i {
      float: left;
      margin-top: 5px;
      margin-left: -38px;
      font-size: 26px;
      color: #555555; }

.sidenav-text a, .sidenav-text .results-footer a:hover, .results-footer .sidenav-text a:hover {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  color: #555555; }
  .sidenav-text a:hover {
    color: #555555; }

/* Yacht detail
   ========================================================================== */
.yacht-inner {
  margin-bottom: 1.4rem; }

.summary-message {
  margin-top: 1rem; }

.content-specs li {
  padding: 0 0.625rem 0.625rem; }

.margin-space {
  margin-bottom: 1.2rem; }

/* breadcrumb */
.breadcrumb {
  font-size: 0.8rem; }

/* Home
   ========================================================================== */
/* hero image */
.media-photo.home-hero {
  margin-bottom: 0;
  height: 250px; }

/*
.home-hero {
	.title {
		padding-bottom: 260px;
	}
	h2 {
		display: none;
	}
}*/
/* hero search */
.banner-search {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); }
  .banner-search .button {
    margin-bottom: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .banner-search .input-large {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 44px; }

/* Section: Advice */
.expert-advice .media-photo {
  margin-bottom: 2rem;
  padding: 2rem 0;
  height: auto; }

@media screen and (min-width: 768px) {
  .expert-advice .media-photo {
    padding: 0;
    height: 30vh; } }
@media screen and (min-width: 61.25em) {
  .expert-advice .media-photo {
    height: 65vh; } }
/* Section: News */
.home-feed {
  background-color: #f3f3f3; }

/* Footer
   ========================================================================== */
.site-footer {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8); }

.footer-nav {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  background-color: #1A1C33; }
  .footer-nav h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff; }
  .footer-nav p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6); }
  .footer-nav .nav-list a {
    margin-bottom: .5rem;
    display: block;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8); }
    .footer-nav .nav-list a:hover {
      color: #ffffff; }

.nav-subscribe .input-subscribe {
  border-radius: 2px 0 0 2px; }
.nav-subscribe .button-subscribe {
  background-color: #f3f3f3;
  border-radius: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/images/arrow-lg-right.png');
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .nav-subscribe .button-subscribe:hover {
    background-color: #eeeeee; }

.social-icon {
  display: inline-block;
  margin-right: 6px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%; }
  .social-icon:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .social-icon i {
    font-size: 1.2em;
    color: #ffffff; }

.footer-bottom {
  padding: 2.2rem 0 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: #888888; }
  .footer-bottom p {
    font-size: 0.8rem; }

.logo-myba {
  margin-top: -20px;
  display: inline-block;
  width: 90px;
  height: 70px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/images/logo-myba.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  background-position: center; }

.nav-footer-info {
  text-align: center; }
  .nav-footer-info li {
    margin: 0 0.4rem 0.4rem;
    display: inline-block;
    float: none; }

.yacht-hero {
  /* set height to auto to display content */
  height: auto;
  margin-bottom: 0; }
  .yacht-hero .media-cover {
    position: relative; }
  .yacht-hero .title h1 {
    color: #555555; }
  .yacht-hero .title p {
    color: #555555;
    padding: 0; }

/* features */
.quick-view .heading {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap; }
.quick-view .quick-view-item {
  margin-top: 1rem; }
  .quick-view .quick-view-item i {
    margin-bottom: 6px;
    font-size: 1.7rem;
    color: #747474; }
.quick-view .quick-view-summary {
  margin-top: 1rem; }
  .quick-view .quick-view-summary p:last-child {
    margin: 0; }

.quick-view-mobile {
  margin: 1rem 0; }

/* disclaimer */
.disclaimer p {
  color: #888888;
  font-size: 0.8rem; }

/* specs */
.layout-plans {
  text-align: center; }

.layout-info {
  margin-bottom: 2rem; }

/*
.media-cover {
	height: 100%;
	&:after {
		@include opacity(1);
		background: {
			color: transparent;
			image: image-url("header-fade.png");
			repeat: repeat-x;
			position: bottom right;
		};
	}
}

*/
/* Buttons
   ========================================================================== */
.button {
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  font-weight: 700 !important;
  border: 1px solid #6fa2cd;
  background-color: #6fa2cd;
  border-radius: 2px;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  .button:hover, .button:focus, .button:active {
    text-decoration: none !important;
    background-color: #498ac0; }

/* secondary button */
.button-secondary {
  color: #6f6f6f;
  border-color: #b6b6b6;
  background-color: #ffffff; }
  .button-secondary:hover, .button-secondary:focus, .button-secondary:active {
    color: #555555;
    background-color: #f3f3f3; }

/* buttons with icons */
.button-before i {
  margin-right: 4px; }

.button-after i {
  margin-left: 4px; }

/* Gallery
   ========================================================================== */
.clearing-thumbs {
  margin-left: inherit; }

.gallery .clearing-thumbs li {
  width: 33.333%;
  margin-right: 0;
  padding-left: 0; }

.gallery .clearing-thumbs .gallery-hero {
  width: 100%;
  padding: 0 10px 10px 0; }

.clearing-thumbs li:last-child {
  margin: 0;
  clear: none; }

.clearing-blackout {
  background-color: rgba(0, 0, 0, 0.94); }

.clearing-caption {
  color: #ffffff;
  font-weight: 500;
  font-size: inherit; }

/* remove bg colours in favour of just parent bg instead */
.clearing-caption,
.clearing-assembled .clearing-container .carousel,
.clearing-assembled .clearing-container .visible-img {
  background-color: transparent !important; }

/* Nav tabs
   ========================================================================== */
.nav-tabs {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem; }

/* hide for mobile */
.nav-tabs-yacht {
  display: none; }

/* top bar */
.top-bar, .top-bar.expanded .toggle-topbar a {
  height: 50px;
  line-height: 50px;
  background-color: #f3f3f3; }
  .top-bar .name, .top-bar.expanded .toggle-topbar a .name {
    height: 50px; }
  .top-bar .toggle-topbar, .top-bar.expanded .toggle-topbar a .toggle-topbar {
    left: 0; }
    .top-bar .toggle-topbar a, .top-bar.expanded .toggle-topbar a .toggle-topbar a {
      padding: 0 1.2rem;
      height: 50px;
      line-height: 50px;
      color: #747474;
      font-size: 1rem;
      text-transform: none;
      border-bottom: 1px solid #dce0e0;
      -webkit-tap-highlight-color: transparent;
      /* down arrow */ }
      .top-bar .toggle-topbar a::after, .top-bar.expanded .toggle-topbar a .toggle-topbar a::after {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 50px;
        color: #1A1C33;
        font-family: font_lcg;
        font-size: 18px;
        text-align: center;
        content: "\e902"; }

/* topbar open */
.top-bar.expanded .toggle-topbar a {
  color: #747474;
  /* up arrow */ }
  .top-bar.expanded .toggle-topbar a::after {
    content: "\e901"; }

/* drop down nav */
.nav-tabs .top-bar-section {
  border-bottom: 1px solid #dce0e0; }
  .nav-tabs .top-bar-section li a {
    padding: 0.6rem 1.2rem;
    color: #6fa2cd;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffffff;
    /* override defaults */ }
    .nav-tabs .top-bar-section li a:hover {
      color: #555555 !important;
      background-color: #f3f3f3 !important; }

@media only screen and (min-width: 61.25em) {
  /* hide for desktop */
  .nav-tabs-mobile {
    display: none; }

  .nav-tabs {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }

  .nav-tabs-yacht,
  .nav-tabs-lg {
    display: block;
    margin-bottom: 3rem; }

  .nav-tabs-bar,
  .top-bar,
  .top-bar.expanded .toggle-topbar a {
    background-color: rgba(26, 28, 51, 0.2); }

  .nav-tabs .top-bar, .nav-tabs .top-bar.expanded .toggle-topbar a, .top-bar.expanded .toggle-topbar .nav-tabs a {
    margin-top: -50px;
    height: 50px;
    line-height: 50px; }
  .nav-tabs .top-bar-section {
    border: 0; }
    .nav-tabs .top-bar-section li {
      background-color: transparent;
      /* default tab */
      /* active tab */ }
      .nav-tabs .top-bar-section li a {
        padding: 0 1.5rem !important;
        height: 51px;
        color: #ffffff;
        line-height: 50px !important;
        background-color: transparent !important; }
        .nav-tabs .top-bar-section li a:hover {
          color: rgba(255, 255, 255, 0.8) !important;
          background-color: transparent !important; }
      .nav-tabs .top-bar-section li.current > a, .nav-tabs .top-bar-section .results-footer li.current > a:hover {
        color: #363636;
        background-color: #ffffff !important; }
        .nav-tabs .top-bar-section li.current > a:hover, .nav-tabs .top-bar-section .results-footer li.current > a:hover {
          color: #555555 !important; } }
/* Off Canvas */
.move-left .exit-off-canvas {
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 8px 0 20px rgba(0, 0, 0, 0.2); }

.accordion .accordion-navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /* top level links */
  /* sub links */
  /* social links */ }
  .accordion .accordion-navigation > a, .accordion .results-footer .accordion-navigation > a:hover {
    background-color: transparent;
    font-size: 1.2rem; }
  .accordion .accordion-navigation.active > a, .accordion .results-footer .accordion-navigation.active > a:hover, .accordion .accordion-navigation.active > a:hover, .accordion .results-footer .accordion-navigation.active > a:hover, .accordion .accordion-navigation.active > a:focus, .accordion .results-footer .accordion-navigation.active > a:focus:hover {
    color: #6fa2cd;
    background-color: #333; }
  .accordion .accordion-navigation > a, .accordion .results-footer .accordion-navigation > a:hover {
    color: #ffffff;
    padding: 0.8rem 1.5rem; }
    .accordion .accordion-navigation > a:hover, .accordion .results-footer .accordion-navigation > a:hover {
      color: rgba(255, 255, 255, 0.8);
      background: transparent; }
  .accordion .accordion-navigation .content a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 0.6rem; }
  .accordion .accordion-navigation .content.active {
    padding-top: 0;
    background-color: #333; }
  .accordion .accordion-navigation.accordion-social {
    padding: 1.5rem;
    border: 0; }
    .accordion .accordion-navigation.accordion-social a {
      margin-right: 1rem; }

/* Pagination
   ========================================================================== */
ul.pagination li a, ul.pagination li .results-footer a:hover, .results-footer ul.pagination li a:hover,
ul.pagination li button {
  padding: 0.7rem 1rem;
  color: #6f6f6f;
  font-size: 0.9rem;
  font-weight: 700 !important;
  text-decoration: none;
  line-height: 1;
  border-color: #b6b6b6;
  background-color: #ffffff;
  border-radius: 2px; }

.arrow + .arrow {
  margin-left: 1rem; }

/* Panels
   ========================================================================== */
.panel-group p {
  color: #555555; }

.panel-wrap {
  padding-bottom: 65%;
  height: 0;
  position: relative;
  overflow: hidden; }

.panel-img {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: inherit; }

.panel-inner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/images/header-fade.png');
  background-repeat: repeat-x;
  background-position: 0 100%; }

.panel-info {
  bottom: 15px;
  left: 15px;
  right: 15px; }
  .panel-info h3 {
    margin: 0;
    color: #ffffff; }

.panel-info .destination-name {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff; }

.panel-img, .panel-info, .panel-inner {
  position: absolute; }

.panel-body {
  padding: 10px 20px 0; }
  .panel-body .fa {
    color: #6fa2cd; }

/* Zurb Foundation
   ========================================================================== */
.postfix.button {
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center; }

.button-search {
  margin-left: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

@media (min-width: 480px) {
  .results-filter .sub-nav {
    float: left; }

  .results-total {
    float: right;
    text-align: right;
    clear: none; } }
@media only screen and (min-width: 36em) {
  .article-fluid {
    padding: 1rem; }

  .article-snippet {
    padding: 0 0 0 280px; }
    .article-snippet .post-image {
      margin: 0;
      padding: 0;
      width: 240px;
      margin-left: -270px;
      float: left;
      overflow: hidden;
      position: relative; }
    .article-snippet .post-content {
      padding: 0; }

  .feedback-item {
    padding: 0 2em 3em 0; }

  .feedback-item .feedback-source {
    margin-top: 30px; } }
@media only screen and (min-width: 40.0625em) {
  .header {
    height: 80px; }

  .logo-wrap {
    margin-top: 10px;
    padding-top: 5px;
    float: left; }
    .logo-wrap img {
      height: 60px; }

  .main-nav li {
    margin-left: 25px; }

  .off-canvas-nav-icon {
    width: 70px;
    height: 80px;
    line-height: 92px; }
    .off-canvas-nav-icon .icon-menu {
      font-size: 30px; }

  /* homepage */
  .home-hero .title {
    padding-bottom: 70px; }
  .home-hero h2 {
    display: block; }

  .post-date {
    display: inline; }

  .sub-head {
    padding-left: 4rem;
    padding-right: 4rem; }

  .page-container {
    max-width: 1045px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }

  .content-header-inner {
    padding-top: 0;
    padding-bottom: 0;
    height: 400px; }

  .header-block {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
    padding: 0; }

  .quote-wrapper {
    margin-top: 2px; }
    .quote-wrapper:after, .quote-wrapper:before {
      right: 100%;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .quote-wrapper:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #ffffff;
      border-width: 15px;
      margin-top: -15px; }
    .quote-wrapper:before {
      border-color: rgba(221, 221, 221, 0);
      border-right-color: #dddddd;
      border-width: 16px;
      margin-top: -16px; }
    .quote-wrapper blockquote {
      padding: 2rem; }
    .quote-wrapper.quote-wrapper-offset-left:before, .quote-wrapper.quote-wrapper-offset-left:after {
      border: 0; }

  .broker-title {
    clear: both; }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem; } }
@media only screen and (min-width: 44em) {
  .title h1, .title .h1 {
    font-size: 2.2rem; }

  .banner-search .input-list, .banner-search .button, .banner-search .input-search {
    margin: 0; }

  .section-header {
    font-size: 1.8rem; }

  .regions li a, .regions li .results-footer a:hover, .results-footer .regions li a:hover {
    font-size: 1.5rem; } }
@media only screen and (min-width: 48em) {
  /*.media-photo {
  	height: 40vh;
  }*/
  .mobile-only {
    display: none; } }
@media only screen and (min-width: 60em) {
  .content-offest-3 {
    padding-right: 3rem; }

  .panel-info h3 {
    font-size: 1.5rem; }

  .broker-title {
    clear: none; } }
@media only screen and (min-width: 62.5em) {
  .main-nav {
    display: block; }

  .menu-trigger,
  .mobile-search-button,
  .off-canvas-nav-icon {
    display: none; } }
@media only screen and (min-width: 64em) {
  .price-range .price {
    margin: 0; } }
@media only screen and (min-width: 61.25em) {
  .media-photo {
    height: 65vh; }
    .media-photo .media-cover {
      position: absolute; }
    .media-photo .title h1, .media-photo .title .h1 {
      font-size: 2.6rem; }
    .media-photo .title h1, .media-photo .title p {
      color: #ffffff; }

  .media-photo.yacht-hero .title h1, .media-photo.yacht-hero .title p {
    padding: 0;
    margin: 0; }

  .yacht-tile {
    height: 200px; }
    .yacht-tile .media-cover {
      background-image: url('/images/oceanscape-tile.jpg');
      background-repeat: repeat-x; }

  .yacht-hero img {
    display: none; }
  .yacht-hero .media-cover:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    background-color: transparent;
    background-image: url('/images/header-fade.png');
    background-repeat: repeat-x;
    background-position: bottom right; }
  .yacht-hero .title {
    padding-bottom: 70px;
    vertical-align: bottom;
    text-align: left; } }
@media (max-width: 39.9em) {
  .quote-wrapper:after, .quote-wrapper:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .quote-wrapper:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 16px;
    margin-left: -16px; }
  .quote-wrapper:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #dddddd;
    border-width: 17px;
    margin-left: -17px; } }
@media only screen and (max-width: 40.0624em) {
  .menu-trigger {
    top: 13px; }

  .menu-trigger .icon-menu {
    font-size: 32px; }

  .primary-nav {
    margin-left: 0;
    margin-top: 10px;
    float: left; }

  .intro .sub-line {
    display: none; }

  .banner-search .input-list {
    margin-bottom: 1rem; }

  .panel-img {
    width: 100%;
    height: auto; }

  .page-footer-nav .button {
    width: 100%; } }
@media only screen and (max-width: 47em) {
  .mobile-search-button {
    display: none; } }
@media only screen and (max-width: 1067px) {
  .hero-bg img {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 100%;
    max-width: inherit; } }
@media only screen and (min-width: 1067px) and (min-width: 1199px) {
  .hero-bg img {
    position: absolute;
    bottom: 0;
    width: 100%; } }
@media screen and (min-width: 1200px) {
  .main-nav li.main-nav-link-showlarge {
    display: inline-block; } }

/*# sourceMappingURL=app.css.map */
